{% load static %}

<h2>Welcome, {{ request.user.username }}</h2>
<p>Email: {{ request.user.email }}</p>
<p>Address: 
  {{ request.user.address_line1|default:"N/A" }}, 
  {{ request.user.city|default:"N/A" }}, 
  {{ request.user.state|default:"N/A" }} - 
  {{ request.user.pincode|default:"N/A" }}
</p>

{% if request.user.profile_picture %}
  <img src="{{ request.user.profile_picture.url }}" alt="Profile Picture" style="max-width:200px; height:auto;">
{% else %}
  <img src="{% static 'images/default_profile.png' %}" alt="Default Profile Picture" style="max-width:200px; height:auto;">
{% endif %}


